@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 255, 255, 255;
  --background-end-rgb: 255, 255, 255;
  --selection-rgb: 0, 129, 112;
}

@media (prefers-color-scheme: dark) {
  /* :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: green;
    --background-end-rgb: 0, 0, 0;
  } */
}

body {
  @apply bg-slate-900 text-slate-400 antialiased;
  /* color: rgb(var(--foreground-rgb));
  background-color: var(--background-start-rgb); */
}
::selection {
  /* color: red; */
  @apply text-slate-200 bg-highlight/70;
}

.desktop-column {
  @apply hidden lg:table-cell;
}
.tech-column {
  @apply py-2 pr-6;
}

.hover-animation {
  @apply bg-gradient-to-r from-highlight from-50% to-slate-200 to-50% bg-[length:200%_100%] bg-[-100%] pt-2 relative transition-all bg-clip-text text-transparent hover:bg-[0];
}

.hover-animation:before {
  @apply bg-highlight absolute left-0 w-0 transition-all content-[''] block h-[0.1rem] -bottom-1 rounded-xl hover:w-full;
}
.hover-animation.active {
  @apply text-highlight tracking-widest;
}
