@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 255, 255, 255;
  --background-end-rgb: 255, 255, 255;
  --selection-rgb: 0, 129, 112;
}

@media (prefers-color-scheme: dark) {
  /* :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: green;
    --background-end-rgb: 0, 0, 0;
  } */
}

body {
  @apply bg-slate-900 text-slate-400 antialiased;
  /* color: rgb(var(--foreground-rgb));
  background-color: var(--background-start-rgb); */
}
::selection {
  /* color: red; */
  @apply text-slate-200 bg-highlight;
}
.navItem.active {
  @apply text-slate-50;
}
.desktop-column {
  @apply hidden lg:table-cell;
}
.tech-column {
  @apply py-2 pr-6;
}
